header {
  height: 100px;
  text-align: left;
}


.gameTitle {
  text-align: center;
}


.map {
  display: block;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 25%;
  height: 25vw;
  width: 40vw;
}

.map-title {
  padding-top: 80px;
  text-align: center;
}

@media screen and (max-height: 425px) {
  .recommendation {
    margin-top: 20vh;  
  }
}