:root {
    --primary-color: #242582;
    --secondary-color: #553d67;
    --tertiary-color: #f64c72;
}

/* background image */

.bg-img {
    background-image: url(../images/controllers.jpg);
    background-color: var(--primary-color);
    background-blend-mode: darken;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* color and alignment for all text */

.content {
    color: white;
    text-align: center;
}

/* header styling */

header {
    height: 400px;
    text-align: right;
}


.header-title {
    display: flex;
    height: 140px;
    width: 70%;
    border-bottom: 6px solid;
    margin-bottom: 5px;
    border-color: var(--tertiary-color);
}

header .title {
    color: var(--tertiary-color);
    max-width: 100%;
    padding: 30px 30px 30px 30px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 6rem;
}

/* content styling */

.start h1 {
    color: white;
}

.start, .questions, .results {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 42%, rgba(80,10,101,1) 97%);
    padding: 30px 35px 30px 35px;
    border-style: solid;
    border-width: 5px;
    border-color: #99738e;
    border-radius: 20px;
}

.hide {
    display: none;
}

.question-title {
    text-align: center;
}

.button {
    margin: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}



.choices, .results {
    height: 100%;
}
