* {
  margin: 0;
  padding: 0;
}

header {
  height: 100px;
  text-align: right;
}
#map {
  height: 20vw;
  width: 40vw;
}

.map {
  position: absolute;
  top: 25%;
  left: 25%;
}

.map-title {
  padding-top: 80px;
  text-align: center;
}