:root {
    --primary-color: #242582;
    --secondary-color: #383838;
    --tertiary-color: #f64c72;
}

.bg-img{
    background-image: url(/assets/css/images/controllers.jpg);
    background-color: var(--primary-color);
    background-blend-mode: darken;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.content {
    color: white;
    text-align: center;
}

header {
    height: 400px;
    text-align: right;
}

header .title {
    color: var(--tertiary-color);
    max-width: 100%;
    padding-top: 75px;
}

.start h1 {
    color: white;
}

.start {
    text-align: center;
    height: 700px;
}

.hide {
    display: none;
}

footer {
    color: white;
}

.question-title {
    text-align: center;
}

.button {
    margin: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.choices, .results {
    height: 700px;
}